// Custom.scss
// https://getbootstrap.com/docs/5.0/customize/sass/

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~bootstrap/scss/functions';

// 2. Include any default variable overrides here

// $primary-background: #FFFFFF;
// $secondary-background: #F7F7F7;
// $tertiary-background: #365B6D;

// $primary-font: #000000;
// $secondary-font: #F7F7F7;
// $tertiary-font: #365B6D;
// $inverted-font: #FFFFFF;

// bootstrap overrides
$primary: #f2eeeb;
$secondary: rgb(37, 37, 37);
// $secondary: #a5a19d;
$light: #f3f3f3;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
$font-family-sans-serif: -apple-system, 'Barlow', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$card-border-radius: 15px;

// font
// Title
// font-family: Barlow;
// font-style: normal;
// font-weight: bold;
// font-size: 64px;
// line-height: 77px;

// Heading1
// font-family: Barlow;
// font-style: normal;
// font-weight: bold;
// font-size: 50px;
// line-height: 60px;

// Heading2
// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 24px;
// line-height: 29px;

// Lead Text
// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 22px;

// Normal
// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 15px;
// line-height: 18px;

// 3. Include remainder of required Bootstrap stylesheets
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// Layout & components (optional Bootstrap components)
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/accordion';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/offcanvas';
// Helpers
@import '~bootstrap/scss/helpers';
// Utilities
@import '~bootstrap/scss/utilities/api';

// 5. Add additional custom code here
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.icon-style {
  font-family: $font-family-sans-serif;
}

.card-work {
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.card-work:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-image {
  transition: all 0.3s;
  border-radius: $card-border-radius;
  box-shadow: 1rem 1rem transparent;
  width: 250px;
  height: 250px;
}

.card-image:hover {
  transform: translate(-0.5rem, -0.5rem);
  // box-shadow: 1.5rem 1.5rem #ebe7e3;
  box-shadow: 1.5rem 1.5rem $secondary;
}
.skills-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.special,
.skills,
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}
.skills li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills li img {
  height: 70px;
  width: 70px;
  object-fit: scale-down;
}
.links a {
  cursor: pointer;
  color: $secondary;
}
.special svg {
  // -moz-transition: background-color 0.2s ease-in-out;
  // -webkit-transition: background-color 0.2s ease-in-out;
  // -ms-transition: background-color 0.2s ease-in-out;
  // transition: background-color 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 2px $secondary;
  vertical-align: middle;
  width: 2em;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 1.75em;
  height: 2em;
  text-indent: 0.15em;
  vertical-align: middle;
  margin-right: 0.85em;
}
.flip-card {
  perspective: 1000px;
  position: relative;
  height: 17em;
  width: 22em;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front h4 {
  text-align: center;
}
/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.socialicons {
  margin: 4px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
}
.skills-tabs {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}
.nav-item {
  width: 50%;
}
.nav-item button {
  width: 100%;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  --bs-nav-tabs-border-width: 2px;
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid $secondary;
  border-color: $secondary;
}

.nav-tabs {
  color: black;
  --bs-nav-tabs-link-hover-border-color: transparent;
  --bs-nav-tabs-border-width: 0px;
  --bs-nav-link-color: $secondary;
}

.navbar-brand {
  color: $secondary;
}

@media (max-width: 429px) {
  .flip-card-back h4 {
    font-size: large;
  }
  p {
    font-size: 14px;
  }
  .links a {
    font-size: small;
  }
}

@media (max-width: 430px) {
  .card-image-container {
    margin-top: 2rem;
  }
}

@media (max-width: 912px) {
  .card-image {
    width: 150px;
    height: 150px;
    transform: translate(-0.5rem, -0.5rem);
    box-shadow: 1.5rem 1.5rem $secondary;
  }
  .card-image-container {
    margin-top: 2rem;
  }

  .card-image:hover {
    transform: none;
    box-shadow: none;
  }
}
